

<div class="container emp-profile" style="margin-top: 150px;">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img" *ngIf="myUser?.photoUrl && myUser?.photoUrl!=='undefined'">
                    <img [src]="myUser?.photoUrl" alt=""/>
                    <div class="file btn btn-lg btn-primary">
                        modifier Photo
                        <input type="file" name="file"/>
                    </div>
                </div>
              
                <div class="profile-img" *ngIf="!myUser?.photoUrl || myUser?.photoUrl==='undefined'">
                    <img src="../../../assets/img/th.jpg" alt=""/>
                    <div class="file btn btn-lg btn-primary">
                        modifier Photo
                        <input type="file" name="file"/>
                    </div>
                   
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h1 style="font-size: 30px;">
                                {{myUser?.name || myUser.nom }}
                            </h1>
                           
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" (click)="showrdv()">mes rendez-vous</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
               
                <button class="profile-edit-btn" name="btnAddMore" (click)="logout()">logout</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    
                    <!-- <a href="" class="btn btn-primary">menu2</a><br/> -->
                  
                  
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div id="home" role="tabpanel" aria-labelledby="home-tab" *ngIf="afficherRdv">
                                <div class="row">
                                    <h1>rendez-vous</h1>  
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">date </th>
                                            <th scope="col">heure</th>
                                            <th scope="col">hopital</th>
                                            <th scope="col">service</th>
                                            <th scope="col">medecin</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let item of tab">
                                            <th scope="row">{{item.id}}</th>
                                            <td>{{item.daterdv}}</td>
                                            <td>{{item.heurerdv}}</td>
                                            <td>{{item.hopital}}</td>
                                            <td>{{item.service}}</td>
                                            <td>{{item.medecin}}</td>
                                          </tr>
                                       
                                        </tbody>
                                      </table>                             
                                </div>
                                
                    </div>

                   
                   
                </div>
            </div>
        </div>
    </form>           
</div>